
<div *ngIf="test1">
    <h2><span>Test 1</span> {{test1.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Prop 1</span></dt>
        <dd>
            <span>{{test1.prop1}}</span>
        </dd>
        <dt><span>Prop 2</span></dt>
        <dd>
            <span>{{test1.prop2}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'test-1/'+ test1.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
